In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:password@localhost:5432/pizza_runner

1. How many runners signed up for each 1 week period? (i.e. week starts 2021-01-01)

In [6]:
%%sql 

SELECT CONCAT('Week ', to_char(registration_date, 'w')) AS registration_week, 
	COUNT(runner_id) AS runners_registered
FROM pizza_runner.runners
     AS runner_sign_date
GROUP BY 1
ORDER BY 1;

 * postgresql://postgres:***@localhost:5432/pizza_runner
3 rows affected.

[('Week 1', 2), ('Week 2', 1), ('Week 3', 1)]

2. What was the average time in minutes it took for each runner to arrive at the Pizza Runner HQ to pickup the order?

In [21]:
%%sql 

WITH cte1 AS (
SELECT runner_id,(pickup_time - order_time) AS arrival_time
FROM runner_orders_cleaned
JOIN customer_order_cleaned
	USING(order_id)
)

SELECT runner_id, date_part('minute', avg(arrival_time))::int
FROM cte1
GROUP BY 1
ORDER BY 1

 * postgresql://postgres:***@localhost:5432/pizza_runner
3 rows affected.

[(1, 15), (2, 23), (3, 10)]

3. Is there any relationship between the number of pizzas and how long the order takes to prepare?

In [20]:
%%sql 

WITH cte1 AS (
SELECT order_id, count(*) AS pizza_count, (pickup_time - order_time) AS minutes
FROM runner_orders_cleaned
JOIN customer_order_cleaned
	USING(order_id)
WHERE pickup_time IS NOT NULL
GROUP BY 1,3
)

SELECT pizza_count, date_part('minute', avg(minutes))::int
FROM cte1
GROUP BY 1
ORDER BY 1

 * postgresql://postgres:***@localhost:5432/pizza_runner
3 rows affected.

[(2, 12), (4, 18), (6, 29)]

4. What was the average distance travelled for each customer?

In [12]:
%%sql

SELECT customer_id, round(avg(distance)::numeric ,2) AS avg_distance
FROM runner_orders_cleaned
JOIN customer_order_cleaned
	USING (order_id)
GROUP BY 1
ORDER BY 1

 * postgresql://postgres:***@localhost:5432/pizza_runner
5 rows affected.

[(101, Decimal('20.00')),
 (102, Decimal('16.73')),
 (103, Decimal('23.40')),
 (104, Decimal('10.00')),
 (105, Decimal('25.00'))]

5. What was the difference between the longest and shortest delivery times for all orders?

In [22]:
%%sql 

SELECT max(duration) AS longest_delivery,
min(duration) AS shortest_delivery, (max(duration)-min(duration)) AS delivery
FROM runner_orders_cleaned

 * postgresql://postgres:***@localhost:5432/pizza_runner
1 rows affected.

[(40, 10, 30)]

6. What was the average speed for each runner for each delivery and do you notice any trend for these values?

In [25]:
%%sql 

SELECT order_id, runner_id, ROUND(AVG(distance/duration*60)::numeric, 2) AS speed
FROM runner_orders_cleaned 
WHERE pickup_time IS NOT NULL
GROUP BY 1, 2
ORDER BY 2

-- Trend nocticed: RUnner 2 is faster than the other runner

 * postgresql://postgres:***@localhost:5432/pizza_runner
8 rows affected.

[(10, 1, Decimal('60.00')),
 (2, 1, Decimal('44.44')),
 (1, 1, Decimal('37.50')),
 (3, 1, Decimal('40.20')),
 (7, 2, Decimal('60.00')),
 (4, 2, Decimal('35.10')),
 (8, 2, Decimal('93.60')),
 (5, 3, Decimal('40.00'))]

7. What is the successful delivery percentage for each runner?

In [34]:
%%sql 

SELECT runner_id,
       ROUND(100 * COUNT(pickup_time) / COUNT(*)) AS percentage_suceess
FROM runner_orders_cleaned
GROUP BY 1
ORDER BY 1

 * postgresql://postgres:***@localhost:5432/pizza_runner
3 rows affected.

[(1, 100.0), (2, 75.0), (3, 50.0)]

[click here](./ingredient_optimize.ipynb) to see the solution of ingredient Opitimization